<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mystery0.imystery0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>


    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:anyDensity="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="BMOB_CHANNEL"
            android:value="iMystery0"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="03699e6ff602df69caf7cb34e70dfcd9"/>

        <activity
            android:name=".Splash_Viewpager.Splash"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".Login_Register.Log_in"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Login_Register.Register"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Splash_Viewpager.Viewpager"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Music_Player.Music_Activity"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Setting.Feed_back.Feedback_Activity"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".Location.List.City_List"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Location.List.District_List"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Push_Service.Push_Activity"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Location.List.Province_List"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Setting.Setting_Activity"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Chat_Online.chat_Activity"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".HistoryRecord.HistoryRecord_Activity"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Setting.ThemeSetting.ThemeSetting"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Setting.AboutUS.About"
            tools:ignore="InnerclassSeparator"/>

        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="false"
            android:label="PushService"
            android:process="cn.bmob.push">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService"/>
            </intent-filter>
        </service>
        <service
            android:name=".Music_Player.Music_Service"
            tools:ignore="InnerclassSeparator"/>
        <service android:name="com.amap.api.location.APSService"/>

        <receiver android:name="cn.bmob.push.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Push_Service.PushMessageReceiver"
            android:exported="false"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>